

.developers{
    display:grid;
    grid-template-columns: 360px  1fr;
   width:100%;
   min-height: 100vh;
 
}

.developer-filters{ 
    position: relative;
    width:360px;
    height: 100vh;
    
}

.developer-results{
    background-color: var(--gray-1);
    height: 100vh;
}